<% provide(:title, t('pages.home.home')) %>
    <video class="home-video" autoplay muted loop>
        <source src="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/nio-launch-vid.mp4?v=1594150651" type="video/mp4">
    </video>

    <div class="home-wrapper">

        <div class="contentBx">
            <div class="strong-word"><span><%= Product.latest.title %></span></div>
            <p><%= t('pages.home.extraordinary_sound') %><br><%= t('pages.home.extraordinary_color') %></p>
            <%= link_to(Product.latest) do %>
                <%= t('pages.home.discover') %> <%= Product.latest.title %>
            <% end %>
            <a class="bt2" onclick="videoToggle();"><%= t('pages.home.play_video') %></a>
        </div>
    </div>

    <div class="embed-video">
        <iframe src="https://www.youtube.com/embed/qRUbnA-k2BQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="embed-layout"></div>
        <div class="close-embed"><i class="fas fa-times-circle" id="close-embed" onclick="videoToggle();"></i></div>
    </div>


<script type="text/javascript">
    function videoToggle(){
        const embedVideo = document.querySelector('.embed-video');
        embedVideo.classList.toggle('active');
    }
</script>

<script language="javascript" type="text/javascript" src="jquery-1.8.2.js"></script>
<script language="javascript" type="text/javascript">
    $(function(){
        $('#close-embed').click(function(){      
            $('iframe').attr('src', $('iframe').attr('src'));
        });
    });
</script>