<% provide(:title, t('pages.iems.iems')) %>

<div class="iems-wrapper">
    <div class="clip clip1">
        <h2><%= t('pages.iems.for') %> <span><%= t('pages.iems.stage') %></span></h2>
        <p><%= t('pages.iems.iems1_1') %><br><%= t('pages.iems.iems1_2') %></p>
        <%= link_to t('pages.iems.explore'), collections_stage_path(distribute: Product.distributes[:stage]) %>
    </div>
    <div class="clip clip2">
        <h2><%= t('pages.iems.for') %> <span><%= t('pages.iems.studio') %></span></h2>
        <p><%= t('pages.iems.iems2_1') %><br><%= t('pages.iems.iems2_2') %></p>
        <%= link_to t('pages.iems.explore'), collections_studio_path(distribute: Product.distributes[:studio]) %>
    </div>
    <div class="clip clip3">
        <h2><%= t('pages.iems.for') %> <span><%= t('pages.iems.audiophile') %></span></h2>
        <p><%= t('pages.iems.iems3_1') %><br><%= t('pages.iems.iems3_2') %></p>
        <%= link_to t('pages.iems.explore'), collections_audiophile_path(distribute: Product.distributes[:audiophile]) %>
    </div>
</div>