<% provide(:title, "Review") %>

<% if logged_in? %>
	<div class="review-wrapper">
		<div class="review-show-header-bg">
			<img src="https://www.andisa.net/wp-content/uploads/2017/08/Background-header-home.jpg">
		</div>
		<div class="userInfo">
			<div class="userInfo-container">
				<%= link_to gravatar_for(@current_user, size: 60), @current_user, class: "userInfo-ava" %>
				<span class="userInfo-name"><%= @user.name %></span>
				<%= link_to t('form.submit.create_review'), new_review_url , class: "create-review" %>
				<div style="clear: right;"></div>
				<ul>
					<li><i class="fas fa-star"></i> 2.0K</li>
					<li><i class="fas fa-user-friends"></i> 66</li>
					<li><i class="fas fa-people-arrows"></i> 150</li>
					<li><i class="fas fa-pencil-alt"></i> <%= @user.reviews.count %></li>
				</ul>
			</div>
		</div>
		<div class="review-container">
			<div class="review-content">
				<%= render 'shared/feed' %>
			</div>
		</div>
		<div class="paginate">
			<%= will_paginate @feed_items, params: { controller: :static_pages, action: :review }, id: "pages-review-paginate" %>
		</div>
	</div>
<% else %>
	<div class="none-review-wrapper" style="min-height: 60vh">
	</div>
<% end %>

<script type="text/javascript">
	window.addEventListener('scroll', function(){
        var userInfo = document.querySelector('.userInfo');
        userInfo.classList.toggle('sticky', window.scrollY > 76);
    })
</script>