<% provide(:title, t('pages.technology.technology')) %>

<div class="technology-wrapper">
	<div class="technology-textBx">
		<h1>64 AUDIO <span><%= t('pages.technology.technologies') %></span></h1>
		<p><%= t('pages.technology.p0') %></p>
	</div>
	<div class="technology-content">
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/e533152d-0a88-4d6e-a4e4-055188bd1335/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 90px;"></div>
			<h2><%= t('pages.technology.tubeless_transparency') %></h2>
			<p><%= t('pages.technology.p1') %></p>
			<a href="#"><%= t('pages.technology.learn_more') %></a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/6273061d-156c-451b-81e3-81bd4aab1f52/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 170px;"></div>
			<h2><%= t('pages.technology.fatigue_free_listening') %></h2>
			<p><%= t('pages.technology.p2') %></p>
			<a href="#"><%= t('pages.technology.learn_more') %></a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/29415090-aec4-4f3f-b105-963f86c2db60/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 180px;"></div>
			<h2><%= t('pages.technology.handcrafted_comfort') %></h2>
			<p><%= t('pages.technology.p3') %></p>
			<a href="#"><%= t('pages.technology.learn_more') %>/a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/8ca29030-7cd3-4d5e-bf9f-c3917f991546/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 90px;"></div>
			<h2><%= t('pages.technology.consistent_sound') %></h2>
			<p><%= t('pages.technology.p4') %></p>
			<a href="#"><%= t('pages.technology.learn_more') %></a>
		</div>
	</div>
</div>