<% provide(:title, "Account") %>

<div class="user-show-wrapper">
    <h2>My Account</h2>
    <%= render 'follow_form' if logged_in? %>
    <h4><%= link_to "Log out", logout_path, method: :delete %></h4>
    <div class="user-info-container">
      <div class="order-history">
        <h3>ORDER HISTORY</h3>
        <p>You haven't placed any orders yet.</p>
        <p>* Order History is available for orders starting July 2019. If you’d like access to order summaries for orders placed before that date, please reach out to support@64audio.com</p>
      </div>
      <div class="user-info-content">
        <h3>ACCOUNT DETAILS</h3>
        <p><span><%= t('users.index.name') %>: </span><%= @user.name %></p>
        <p><span><%= t('users.index.email') %>: </span><%= @user.email %></p>
        <%= link_to t('users.index.edit'), edit_user_path(@user) %>
      </div>
    </div>
</div>



