<% provide(:title, 'All hashtags') %>
<html>


<div class="hashtag-wrapper">
	<div class="hashtag-content-text">
		<h1>All hashtags</h1>
	</div>
	<div class="hashtag-login-content">
	        <div class="login-form">
	           <%= form_for(@hashtag) do |f| %>

				<%= render 'shared/error_messages', object: @hashtag %>

				<%= f.label t('form.label.name')%>
				<%= f.text_field :name, class: 'form-control' , id: "name" %>

				<%= f.submit t('form.submit.create'), data: { disable_with: false }, class: "submit" %>
				
			  <% end %>
	        </div><br>
    	</div>
	<div class="hashtag-content">
		<ul class="users" id="hashtags">
			<%= render @hashtags %>
		</ul><br>
			
	</div>
	<div class="language">
	   
	 
	</div>	
	
	
</div>
</html>
<script type="text/javascript">
$(document).ready(function() {
    $('form').submit(function(event) {
    	event.preventDefault();
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'html'
            
        }).done(function(response) {
        	$('#hashtags').append(response);
        });
   });
});

var options = {
    	url: function(phrase) {
      		return "/reviews.json?q[title_cont]=" + phrase;
    	},
		getValue: "title",
		template: {
			type: "links",
			fields: {
				link: "url"
			}
		},
  	};

</script>
