
	<div class="requests-contentBx">
		<div class="requestsBx-left">
			<%= image_tag request.product.image1 if request.product.image1.attached? %>
			
			<ul>
				<li><p><span><%= t('request.index.product') %>:&nbsp;</span><%= request.product.title %></p></li>
				<li><p><span><%= t('request.index.quantity') %>:&nbsp;</span><%= request.quantity %></p></li>
				<li><p><span><%= t('request.index.total') %>:&nbsp;</span>$<%= request.product.price * request.quantity%></p></li>
			</ul>
			<span><p style="font-size: 16px; letter-spacing: 1px;"><%= l(request.created_at, locale: :en) %></p>
		</div>
		<div class="requestsBx-right">
			<%= link_to t('request.index.view'), request_path(request) %>
		</div>
	</div>