<% provide(:title, "Edit Request") %>
<div class="hashtag-wrapper">
	<div class="hashtag-content-text">
		<h1>Update Request</h1>
	</div>
	<div class="hashtag-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="margin-left: 200px;">
				<%= form_for [@product, @request] do |f| %>
					<%= f.label :product %>
					<%= f.text_field :user_id, class: 'form-control' %>
					<%= f.label :Quantity %>
					<%= f.text_field :user_id, class: 'form-control' %>
					<%= f.submit "Save changes", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>