<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this products from being saved:</h2>
            <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
        <%= f.label :title %>
        <%= f.text_field :title , id: "title" %>

        <%= f.label :technology %>
        <%= f.text_field :technology , id: "title" %>

        <%= f.label :description %>
        <%= f.text_area :description, :rows => 5 , class: "areaS" %>

    
        <%= f.label :content %>
        <%= f.text_area :content, :rows => 15 , class: "areaL" %>
    
        <%= f.label :price %>
        <%= f.number_field :price , id: "price" %>

        <%= f.file_field :image %><br>
        
        <%= f.label :distribute %>
        <%= f.select :distribute, options_for_select(Product.distributes.map { |k, v| [k, v] }) %>

        <%= f.submit yield(:button_text), class: "submit" %>
<% end %>