<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this products from being saved:</h2>
            <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, :rows => 5 %>
    </div>

    <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, :rows => 15 %>
    </div>

    <span class="image">
        <%= f.file_field :image %>
    </span>
    
    <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price %>
    </div>
        <div class="field">
        <%= f.label :distribute %><br>
        <%= f.select :distribute, options_for_select(Product.distributes.map { |k, v| [k, v] }) %>

    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>