<% provide(:title, 'Product Collection') %>

<div class="product-collection-wrapper">
    <div class="template-collection">
        <div class="template template1">
        </div>
    </div>

    <div class="product-collection-container">

        <h1>Products</h1>
        <div class="product-collection-content">
            <% @products.each do |product| %>
                <div class="product-collection-contentBx">
                    <div class="product-collection-contentBx-img">
                        <%= image_tag product.display_image if product.image.attached? %>
                    </div>
                    <div class="product-collection-contentBx-text">
                        <h2><%= product.title %> <span><%= product.price %></span></h2>
                        <h3><%= link_to "2-Driver Earphone", product_path(product) %></h3>
                        <div class="product-collection-contentBx-descritpion">
                            <p><%= product.description %></p>
                            <ul class="product-collection-contentBx-edit">
                                <li><%= link_to 'Edit', edit_product_path(product) %></li>
                                <li><%= link_to 'Destroy', product, data: { confirm: 'Are you sure?' }, :method => :delete %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

 

 


