<div class="product-show-wrapper">
	<div class="second-header">
		<ul class="second-header-menu">
			<li><a href="#overview"><%= t('header.overview') %></a></li>
			<li><a href="#technology"><%= t('header.technology') %></a></li>
			<li><a href="#specifications"><%= t('header.specifications') %></a></li>
		</ul>
	</div>
	<div class="product-show-container">
		<section class="product-show-overview-<%= @product.distribute %>" id="overview">
			<div class="product-show-contentBx">
				<h2><%= @product.title %></h2>
				<h3><i class="fas fa-dollar-sign"></i> <%= @product.price %></h3>
				<p><%= @product.content.html_safe %></p><br>
				<p id="estimaed-time"><i class="far fa-clock"></i> Estimated build time: <%= @product.build_time %> Weeks</p>
				<% if logged_in? %>
					<%= link_to "Order", new_product_request_path(@product) %>
				<% else %>
					<span id="sign_order">Order</span>
				<% end %>
			</div>
			<%= image_tag @product.image2 if @product.image2.attached? %>
		</section>
		<section class="product-show-technology-<%= @product.distribute %>" id="technology">
			<h2><%= t('header.technology') %></h2>
			<p><a href="#">Exclusive technologies that challenge traditional in-ear monitor designs to give you the absolute best listening experience<br>learn more about all of our technologies ></a></p>
			<h3><%= @product.title %> features the following unique technology:</h3>
			<div class="tech-row">
				<div class="tech-rowBx">
					<div class="tech-content"><img src="https://i.shgcdn.com/c334217a-17b3-473c-bda9-4617914cebad/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
					<p>Only from 64 Audio, apex alleviates listener fatigue by releasing air pressure sealed in the ear canal. This venting enables musicians and music enthusiasts to listen more comfortably for longer.</p></div>
					<a href="#"><i class="fas fa-plus-circle"></i> <span>LEARN MORE</span></a>
				</div>
				<div class="tech-rowBx">
					<div class="tech-content"><img src="https://i.shgcdn.com/73240211-7ad4-4cb8-bd60-680f603d8520/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
					<p>Preserves the detail of your ear impressions using a new process of digital rendering and 3D printing for the most comfortable custom in-ear monitors available.</p></div>
					<a href="#"><i class="fas fa-plus-circle"></i> <span>LEARN MORE</span></a>
				</div>
				<div class="tech-rowBx">
					<div class="tech-content"><img src="https://i.shgcdn.com/d8811337-115e-4c00-8bac-3dfad99ba21a/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
					<p>Enables a consistent, reliable sound regardless of audio source.</p></div>
					<a href="#"><i class="fas fa-plus-circle"></i> <span>LEARN MORE</span></a>
				</div>
			</div>
		</section>
		<section class="product-show-specifications-<%= @product.distribute %>" id="specifications">
			<div class="specifications-content">
				<div class="specifications-contentBx">
					<h2><%= t('header.specifications') %></h2>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Driver Type/Count</div>
						<div class="specifications-contentTxL"><%= @product.driver_type %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Driver Configuration</div>
						<div class="specifications-contentTxL"><%= @product.driver_configuration %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Frequency Response</div>
						<div class="specifications-contentTxL"><%= @product.frequency_response %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Sensitivity</div>
						<div class="specifications-contentTxL"><%= @product.sensitivity %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Impedance</div>
						<div class="specifications-contentTxL"><%= @product.impedance %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Crossover</div>
						<div class="specifications-contentTxL"><%= @product.crossover %></div>
					</div>
					<div class="specifications-contentTx">
						<div class="specifications-contentTxW">Isolation</div>
						<div class="specifications-contentTxL"><%= @product.isolation %></div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/javascript">
	$('#sign_order').click(function(){
		var answer = window.confirm("You need to log in to order.");
		var url = window.location.href;
		var searchParams = url.substr(31, 1);
		if (answer) {
			window.location.replace('http://localhost:3000/login');
		}
	});
</script>
