<div class="review-contentBx">
	<%= link_to(review_path(review)) do %>
		<div class="image">
		</div>
	<% end %>
	<%= link_to(review_path(review)) do %>
		<h2><%= review.title %></h2>
	<% end %>
	<span><%= l(review.created_at, locale: :en) %></span>
	<p><%= review.descritpion %></p>
	<% if current_user?(review.user) %>
		<%= link_to "delete", review , method: :delete, data: { confirm: "You sure?" } %>
	<% end %>
</div>
