<% provide(:title, t('blog.index.blog')) %>

	<div class="review-wrapper">
		<div class="review-show-header-bg">
			<img src="https://res.cloudinary.com/dgcsxppnx/image/upload/v1606808814/audio/Background-header-home_ng4oss.jpg">
		</div>
		<% if logged_in? %>
			<div class="userInfo">
				<div class="userInfo-container">
					<div class="userInfoA">
						<%= link_to gravatar_for(@current_user, size: 60), @current_user, class: "userInfo-ava" %>
						<div class="userInfo1-text">
							<span class="userInfo-name"><%= link_to @user.name, @user %></span>
							<ul>
								<li><i class="fas fa-user-friends"></i>&nbsp;<%= @user.following.count %></li>
								<li><i class="fas fa-people-arrows"></i>&nbsp;<%= @user.followers.count %></li>
								<li><i class="fas fa-pencil-alt"></i> <%= @user.reviews.count %></li>
							</ul>
						</div>
					</div>
					<div class="userInfoB">
						<div class="userInfo1">
							<%= link_to t('blog.index.create_review'), new_review_url , class: "create-review" %>
						</div>
						<div class="userInfo2">
							<%= search_form_for @q, local: true, method: :get, html: {class: "form-inline"} do |form| %>
								<div class="autocomplete" id="autocomplete">				
									<%= form.search_field :title_cont, placeholder: "Search...", data: { behavior: "autocomplete" }, class: "form-control" , id: "autocomplete-search" %>
									<%= form.submit t('blog.index.search') %>						
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<div class="userInfo">
				<div class="userInfo-container">
					<div class="userInfoA">
						<%= link_to "Sign in to create reviews", login_url , id: "signinfor" %>
					</div>
					<div class="userInfoB">
						<div class="userInfo2">
							<%= search_form_for @q, local: true, method: :get, html: {class: "form-inline"} do |form| %>
								<div class="autocomplete" id="autocomplete">				
									<%= form.search_field :title_cont, placeholder: "Search...", data: { behavior: "autocomplete" }, class: "form-control" , id: "autocomplete-search" %>
									<%= form.submit t('blog.index.search') %>						
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<div class="review-container">
			<div class="review-content">
				<%= render @reviews %>
			</div>
		</div>
		<div class="paginate">
			<%= will_paginate @reviews, params: { controller: :reviews, action: :index }, id: "pages-review-paginate" %>
		</div>
	</div>

<script type="text/javascript">
	window.addEventListener('scroll', function(){
        var userInfo = document.querySelector('.userInfo');
        userInfo.classList.toggle('sticky', window.scrollY > 76);
	});

    var options = {
    	url: function(phrase) {
      		return "/reviews.json?q[title_cont]=" + phrase;
    	},
		getValue: "title",
		template: {
			type: "links",
			fields: {
				link: "url"
			}
		},
  	};

  	$("#autocomplete input").easyAutocomplete(options);
</script>