
<div class="review-show-wrapper">
	<div class="review-show-container">
		<div class="review-show-content">
			<div class="head-image">
				<img src="https://i1.wp.com/blog.64audio.com/wp-content/uploads/2017/10/Chicago-Red.jpg?resize=759%2C500&ssl=1">
			</div>
			<h1><%= @review.title %></h1>
			<span><%= time_ago_in_words(@review.created_at) %></span>
			<div class="review-content">
				<p class="hidden-text"><%= @review.content.html_safe %></p>
			</div>
		</div>
		<ul class="review-show-sci">
			<li><a href="#"><i id="sci1" class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i id="sci2" class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i id="sci3" class="far fa-envelope"></i></a></li>
		</ul>
		<div class="relative-review">
			<h2>Comments</h2>
			<%= render "comments/form" %>
			<div class="relative-review-content">
				<%= render @comments %>
			</div>
		</div>
		<div class="comment-container"></div>
	</div>
	

</div>
<!-- Day la cho de o comment -->
