<% provide(:title, @review.title.html_safe) %>

<div class="review-show-wrapper">
	<div class="review-show-header-bg">
		<img src="https://mastermindseo.org/wp-content/uploads/2015/03/header-background.png">
	</div>
	<div class="review-show-container">
		<div class="review-show-containerBx">
			<div class="reviewUser-info">
				<%= link_to gravatar_for(@review.user, size: 50), @review.user , class: "reviewUser-info-ava" %>
				<span class="reviewUser-info-name">
					<%= link_to @review.user.name, @review.user %>
				</span>
				<%= render 'users/follow_form', user: @review.user if logged_in? %>
				<span class="reviewUser-info-time">Created at <%= l(@review.created_at, locale: :en) %></span>
				<div style="clear: right;"></div>
				<a href="#comment-wrapper" id="commentNum"><i class="fas fa-comments"></i> <%= @review.comments.count %></a>
				<ul>
					<li><i class="fas fa-star"></i><%= @review.rates.avg_star %></li>
					<li><i class="fas fa-user-friends"></i><%= render 'shared/stats' %></li>
					<li><i class="fas fa-pencil-alt"></i> <%= @user.reviews.count %></li>
					<li><span id="like-color"><i class="fas fa-thumbs-up"></i></span> <span id="like-number"><%= @review.likes.count %></span></li>
				</ul>
			</div>
			<div class="review-show-content">
				<div class="head-image">
					<%= image_tag @review.image if @review.image.attached? %>
				</div>
				<h1><%= @review.title %></h1>
				<span><%= l(@review.created_at, locale: :en) %></span>
				<div class="review-content">
					<p class="hidden-text"><%= @review.content.html_safe %></p>
				</div>
			</div>
			<ul class="review-show-sci">
				<li><a href="#"><i id="sci1" class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i id="sci2" class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i id="sci3" class="far fa-envelope"></i></a></li>
			</ul>
			<%= render "rate/form" %>
				<%= render "rate/form" %>
			<div class="like-wrapper">
				<%= render 'like_form' %>
			</div>
			<div id="comment-wrapper">
				<h2>Comments</h2>
				<%= render "comments/form" %>
				<div class="comment-container">

					<%= render @comments %>
				</div>
			</div>
		</div>

		<div class="review-show-right">
			<div class="search-field">
				<input type="text">
				<i class="fas fa-search"></i>
			</div>
			<div class="popular-review">
				<div class="review-show-right-content popular-review">
					<h2>POPULAR POSTS</h2>
					<div class="popular-review-contentBx">
						<div class="popular-review-contentBx-img">
							<%= image_tag("https://res.cloudinary.com/dgcsxppnx/image/upload/v1605669346/audio/blog-1-500x250_gfdvge.jpg", :width => 100, :height => 65) %>
						</div>
						<div class="popular-review-contentBx-text">
							<h3>3 GUIDELINES FOR MIXING IN-EAR MONITORS</h3>
							<span>40 COMMENTS</span>
						</div>
					</div>
					<div class="popular-review-contentBx">
						<div class="popular-review-contentBx-img">
							<%= image_tag("https://res.cloudinary.com/dgcsxppnx/image/upload/v1605669390/audio/64_Blog_Banner21_ipl1ud.jpg", :width => 100, :height => 65) %>
						</div>
						<div class="popular-review-contentBx-text">
							<h3>REGARDING THE END OF 64 AUDIO’S PARTNERSHIP WITH ADEL</h3>
							<span>5 COMMENTS</span>
						</div>
					</div>
					<div class="popular-review-contentBx">
						<div class="popular-review-contentBx-img">
							<%= image_tag("https://res.cloudinary.com/dgcsxppnx/image/upload/v1605669304/audio/Dangers_Of_One_IEM_mfcp27.jpg", :width => 100, :height => 65) %>
						</div>
						<div class="popular-review-contentBx-text">
							<h3>THE DANGER OF WEARING ONLY ONE IEM</h3>
							<span>19 COMMENTS</span>
						</div>
					</div>
					<div class="popular-review-contentBx">
						<div class="popular-review-contentBx-img">
							<%= image_tag("https://res.cloudinary.com/dgcsxppnx/image/upload/v1605669475/audio/MichaelBrauer_Header_prrqqz.jpg", :width => 100, :height => 65) %>
						</div>
						<div class="popular-review-contentBx-text">
							<h3>MICHAEL BRAUER USES 64 AUDIO A12’S FOR CRITICAL LISTENING (VIDEO)</h3>
							<span>21 COMMENTS</span>
						</div>
					</div>
					<div class="popular-review-contentBx">
						<div class="popular-review-contentBx-img">
							<%= image_tag("https://res.cloudinary.com/dgcsxppnx/image/upload/v1605669497/audio/apex_Banner-copy_usgf24.jpg", :width => 100, :height => 65) %>
						</div>
						<div class="popular-review-contentBx-text">
							<h3>CORRECTING THE RECORD</h3>
							<span>10 COMMENTS</span>
						</div>
					</div>
				</div>
				<div class="review-show-right-content follow">
					<h2>FOLLOW US</h2>
					<ul class="popular-review-sci">
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
				<div class="review-show-right-content subscribe">
					<div class="subscribe-form">
						<h2>SUBSCRIBE</h2>
						<form>
							<label for="emailAddress" class="subscribe-form-Tx">Email Address</label>
							<input type="text" id="emailAddress">
							<label for="nameAddress" class="subscribe-form-Tx">Email Address</label>
							<input type="text" id="nameAddress">
							<input type="submit" value="Subscribe" id="sub-submit">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Day la cho de o comment -->
