<div class="header-layout"></div>
<header>
    <div class="logo">
        <a href="http://localhost:3000"><img src="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Horizontial-Logo-White-100px_300x300.png?v=1598566575"></a>
    </div>
    <ul class="menubar">
        <li><%= link_to t('header.in_ear_monitors'), pages_iems_path %></li>
        <li><%= link_to t('header.technology'), pages_technology_path %></li>
        <li><%= link_to t('header.review'), pages_review_path %></li>
        <li><%= link_to t('header.support'), pages_help_path %></li>
        <li><%= link_to t('header.how_to_order'), pages_how_to_order_path %></li>
    </ul>
    <ul class="userbar">
        <% if logged_in? %>
            <li style="margin-top: -5px;"><%= link_to gravatar_for(current_user, size: 35), current_user %></li>
        <% else %>
            <li><a href="http://localhost:3000/login"><i class="far fa-user"></i></a></li>
        <% end %> 
        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        <li><i class="fas fa-bars" onclick="openHiddenMenu()"></i></li>
    </ul>   
</header>

<script type="text/javascript">  
    function openHiddenMenu(){
        var hiddenMenu = document.querySelector('.hidden-menu');
        hiddenMenu.style.marginRight = "0";
    }
</script>