<div class="hidden-menu">
    <div class="close-buttom">
        <i class="fas fa-times" onclick="closeHiddenMenu()"></i>
        <ul>
            <li>
                <%= link_to(locale:"en") do %>
                    <img src="https://www.lineex.es/wp-content/uploads/2016/06/english-flag.png">
                <% end %>
            </li>
            <li>
                <%= link_to(locale:"vi") do %>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1200px-Flag_of_Vietnam.svg.png">
                <% end %>
            </li>
        </ul>
    </div>
    <ul>
        <li><%= link_to t('hidden_menu.blog'), reviews_url %></a></li>
        <li><%= link_to t('hidden_menu.contact'), pages_contact_path %></li>
        <% if logged_in? %>
            <li><%= link_to t('hidden_menu.account'), current_user %></li>
        <% else %>
            <li><%= link_to t('hidden_menu.account'), login_path %></li>
        <% end %>
    </ul>
</div>

<script type="text/javascript">
    function closeHiddenMenu(){
        var hiddenMenu = document.querySelector('.hidden-menu');
        hiddenMenu.style.marginRight = "-450px";
    }
</script>